    <div class="row">
        <div class="col text-center">
        <h1><%= @film.title %></h1> <%= link_to "(edit)", edit_film_path(@film) %>
        </div>
    </div>

    <div class="row">
    <div class="col text-center">
        <%= image_tag @film.picture %>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <div>Genre: <%= @film.genre %></div>
            <div>Year: <%= @film.year %></div>
            <div>Synopsis: <%= @film.synopsis %></div>
        </div>
    </div>
    
    <div class="row">
        <div class="col text-center">
            <%= button_to 'Add to favorites', favorites_path(:film_id => @film.id), method: :post, class: "btn btn-primary" %>
        </div>
    </div>