<h1><%= @film.title %></h1> <%= link_to "(edit)", edit_film_path(@film) %>

<%= image_tag @film.picture %>
<div>Genre: <%= @film.genre %></div>
<div>Year: <%= @film.year %></div>
<div>Synopsis: <%= @film.synopsis %></div>
